# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
.contentlayer

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Misc
*.pem
